.grid-container {
  margin: 2% auto;
}

.grid {
  white-space: pre;
}

button {
  margin: 2px;
}
.navbar{
  color: white;
  background-color: black;
  font-size:xx-large;
  text-align: left;
  padding: 10px;
}